// Tailwind utilities
@tailwind base;
@tailwind components;
@tailwind utilities;

// Font family import
@font-face {
  font-family: "DINCondensed";
  src: url("./assets/fonts/DINCondensedBold.ttf") ;
}
@font-face {
  font-family: "GillSans";
  src: url("./assets/fonts/GillSans.otf") ;
}

// Default styling
*{
  box-sizing: border-box;
  color:#333333;
  text-decoration: none;
}
body {
  margin: 0;
  padding:0;
}
input, button {
  border: 0;
}
input:focus-visible, button:focus-visible {
  outline: none;
}

a:hover, button:hover {
  cursor: pointer;
}

